In [3]:
import requests # get connection
import pandas as pd
import json
from sqlalchemy import create_engine
import sqlite3 as db
import schedule
import time
import apscheduler
import apscheduler.schedulers.background

In [5]:
#  base_url2 = 'https://tradestie.com/api/v1/apps/reddit?date=2022-06-14' # This you can call a specific date
base_url2 = 'https://tradestie.com/api/v1/apps/reddit'  #Calls the most refreshed last 15 minutes


def wsb_scrape():
    wsb = requests.get(base_url2).json()
    #wsb
    wsb2_df = pd.json_normalize(wsb)
    
#def wsb_head():
    #print(wsb_df.head(10))

In [6]:
wsb_scrape()
wsb2_df.head(10)

NameError: name 'wsb2_df' is not defined

In [10]:
base_url2 = 'https://tradestie.com/api/v1/apps/reddit'
wsb = requests.get(base_url2).json()
wsb

wsb_df = pd.json_normalize(wsb)
wsb_df['date_time'] = pd.to_datetime('now', utc=True)
wsb_df.head(10)

,no_of_comments,sentiment,sentiment_score,ticker,date_time
0,14,Bullish,0.130,GME,2022-06-20 10:05:59.214870+00:00
1,7,Bearish,-0.178,KC,2022-06-20 10:05:59.214870+00:00
2,6,Bullish,0.361,BOOM,2022-06-20 10:05:59.214870+00:00
3,5,Bullish,0.415,SQQQ,2022-06-20 10:05:59.214870+00:00
4,5,Bullish,0.209,ON,2022-06-20 10:05:59.214870+00:00
5,4,Bullish,0.298,AI,2022-06-20 10:05:59.214870+00:00
6,4,Bearish,0.000,TQQQ,2022-06-20 10:05:59.214870+00:00
7,3,Bullish,0.151,TA,2022-06-20 10:05:59.214870+00:00
8,2,Bullish,0.218,QQQ,2022-06-20 10:05:59.214870+00:00
9,2,Bullish,0.670,WISH,2022-06-20 10:05:59.214870+00:00

In [7]:
### Schedules the two functions at one and two minute intervals
### This works well
#schedule.every(1).minutes.do(wsb_scrape)
#schedule.every(2).minutes.do(wsb_head)
wsb_scrape()

#wsb_head()
wsb_df.head(10)

#while True: #can also use 1 for "True"
    #schedule.run_pending()
    #time.sleep(1)

   no_of_comments sentiment  sentiment_score ticker
0              13   Bullish            0.130    GME
1               6   Bearish           -0.178     KC
2               6   Bullish            0.361   BOOM
3               5   Bullish            0.415   SQQQ
4               5   Bullish            0.209     ON
5               4   Bullish            0.298     AI
6               4   Bearish            0.000   TQQQ
7               3   Bullish            0.151     TA
8               2   Bullish            0.218    QQQ
9               2   Bullish            0.670   WISH

In [9]:
### To SQLite on local drive
# Export to CSV
#mega_millions1_df.to_csv('mega_millions1.csv')

# Creates and/or connects to SQLite DB Named lotto_results1.db
connection = db.connect(r'P:\Luke Barosso Python\db_house\wsb_df.db')

#Appends the above DF to the DB Created into a table named mega_millions1_df
wsb_df.to_sql(name="wsb_df", con=connection, if_exists='append', index=False)

## Commit connection
connection.commit()